@import "../../var.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    font-size: 25px;
    color: var(--color-text);
    margin-right: 47px;
}

.menuItem:last-child {
    margin-right: 0;
}